[submodule "ofxFTGLES"]
	path = ofxFTGLES
	url = https://github.com/fishkingsin/ofxFTGLES.git
[submodule "ofxSDL"]
	path = ofxSDL
	url = https://github.com/leebyron/ofxSDL
[submodule "ofx3dutils"]
	path = ofx3dutils
	url = https://github.com/robksawyer/ofx3dutils
